.fullscreen-SignUpModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 9999;
}
.fullscreen-SignUpModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

#country::placeholder {
    color: black;
    font-weight: 500;
}